@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="loginNav">
    <dl>
        <dt><input id="userNameInput" type="text" placeholder="User Name"/></dt>
        <dt><input id="passwordInput" type="password" placeholder="Password"/></dt>
   @*    <dt><input id="postLogin" type="button" value="Login SALI"/></dt>*@
        <dt><input id="loginOrm" type="button" value="Login"/></dt>
    </dl>
         
</div>

        <script type="text/javascript">
            $(function () {
                $(document).keydown(function (event) {
                    switch (event.keyCode) {
                    case 13:
                        $('#loginOrm').click();
                        break;
                    }
                });

                $('#postLogin').click(function (e) {
                    showProcessing();
                    e.preventDefault();
                    var p = { UserName: $('#userNameInput').val(), Password: $('#passwordInput').val() };
                    $.ajax(
                {
                    url: '/Login/UserLogin',
                    type: "POST",
                    data: p,
                    dataType: 'json',
                    success: function (data) {
                        hideProcessing();
                        var message = data["Message"];
                        var success = Boolean(data["Success"]);
                        if (success) {
                            window.location.href = "/Home/";
                        } else {
                            sendSystemMessage(messageContent(4));
                        }
                    }, error: function () {
                        sendSystemMessage(messageContent(4));
                    }
                });
                });

            $('#loginOrm').click(function (e) {
                showProcessing();
                e.preventDefault();
                var p = { UserName: $('#userNameInput').val(), Password: $('#passwordInput').val() };
                $.ajax(
                {
                    url: '/Login/UserLoginMethodOrm',
                    type: "POST",
                    data: p,
                    dataType: 'json',
                    success: function (data) {
                        hideProcessing();
                        var message = data["Message"];
                        var success = Boolean(data["Success"]);
                        if (success) {
                            window.location.href = "/Home/";
                        } else {
                            sendSystemMessage(messageContent(4));
                        }


                    }, error: function () {
                        sendSystemMessage(messageContent(4));
                    }
                });
            });

                /* $('#postLogin').click(function (e) {
                e.preventDefault();
                var p = { UserName: $('#userNameInput').val(), Password: $('#passwordInput').val() };
                $.ajax(
                {
                url: '/Login/UserLogin',
                type: "GET",
                data: p,

                dataType: 'json',
                statusCode: {
                404: function() {
                alert("page not found");
                },
                success: function (data) {
                var message = data["Message"];
                var success = Boolean(data["Success"]);
                var userName = data["UserName"];
                       
                if (!success) {
                alert(message);
                } else {
                alert(message);
                }
                }*/
            });
             
          
    
</script>