@using LFSTools
 <head>
            <meta charset="utf-8"/>
            <title>
            </title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta name="description" content=""/>
            <meta name="author" content=""/>
           <link href="../../Content/bootstrap/bootstrap.css" rel="stylesheet"/>
            <style type="text/css">
                body { padding-top: 60px;}
            </style>
     
     <link href="../../Content/Site.css" rel="stylesheet"/>
     <script type="text/javascript" src="../../Scripts/jquery-1.9.1.min.js"></script>
     <script type="text/javascript" src="../../Scripts/Site.js"></script>
     <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
            <style>
                </style>
        </head>