.reportButton
{
    width: 120px; 
    height: 27px; 
    background: transparent url('/Graphics/Buttons/GreyButton.gif') no-repeat center top; 
    border-style: hidden; 
    border:0;
    padding:0;
    margin:0;
    cursor:pointer;
}

thead 
{    
	display:table-header-group;  
	height:auto; 
} 

.SubreportTitle
{
	color:#000000;    
	background-image: url('/Graphics/accordionReportsMenuSelected2.gif');
	background-repeat: repeat-x;
	margin-top: 0px;
	font-size: 13pt;   
	font-weight: normal;	
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;  
	text-align:left;  
	font-family:Arial;
}

.SubreportFooter
{
	font-size: 10pt;
	font-style: italic;
	font-family:Arial;
}

.SubreportParameter
{
	font-size:10pt !important;
	font-family:Arial;
}

.Header
{
	background-color:Silver !important;
	vertical-align:bottom !important;
	font-weight:bold !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	text-align:left !important;
	font-size:10pt !important;
	font-family:Arial;
}

.ParameterPair
{
	width: 15em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block
}

.NumericColumnHeader
{
	text-align:right !important;
	background-color:Silver !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	font-weight:bold !important;
	font-size:10pt !important;
	vertical-align:bottom !important;
	font-family:Arial;
}

.GroupTable
{
	border:0;
	page-break-inside:avoid;
	width:100%;
}

.GroupHeader1StudentBreak
{
	background-color:#DCDCDC;
	font-weight:bold;
	font-size:13pt;
	vertical-align:middle;
	page-break-before:always;
	display:block;
	font-family:Arial;
}

.GroupHeader1
{
	background-color:#DCDCDC;
	font-weight:bold;
	font-size:12pt;
	vertical-align:middle;
	font-family:Arial;
}

.GroupHeader2
{
	background-color:#DCDCDC;
	font-weight:bold;
	font-family: Times New Roman;
	font-style:italic;
	font-size:11pt;
	vertical-align:middle;
	font-family:Arial;
}

.GroupHeader3
{
	background-color:#DCDCDC;
	font-weight:bold;
	font-size:11pt;
	vertical-align:middle;
	font-family:Arial;
}

.GroupHeader4
{
	background-color:#DCDCDC;
	font-weight:bold;
	font-family: Times New Roman;
	font-style:italic;
	font-size:10pt;
	vertical-align:middle;
	font-family:Arial;
}

.GroupHeader5
{
	background-color:#DCDCDC;
	font-weight:bold;
	font-size:10pt;
	vertical-align:middle;
	font-family:Arial;
}

.Item
{
	background-color:White;
	font-size:10pt;
	font-family:Arial;
}

.AlternatingItem
{
	background-color:#F5F5F5 !important;
	font-size:10pt;
	font-family:Arial;
}

.LinkClass 
{
    color: #336699;
    text-decoration:underline;
	font-family:Arial;
	font-size:10pt;
}  

.StringColumn
{
	text-align: left;
	font-size:10pt;
	font-family:Arial;
}

.NumericColumn
{
	text-align:right !important;
	font-size:10pt;
	font-family:Arial;
}

.GroupFooter
{
	font-weight:bold;
	border-top-color: Black;
	border-top-style:solid;
	border-top-width:thin;
	text-align:right;
	background-color:#FAF0E6;
	font-size:10pt;
	font-family:Arial;
}

.GroupFooterRow
{
	border-top-color: Black;
	border-top-style:solid;
	border-top-width:thin;
	background-color:#FAF0E6;
}

.GroupFooterText
{
	font-weight:bold;
	text-align:left;
	font-size:10pt;
	font-family:Arial;
}

.GroupFooterValue
{
	font-weight:bold;
	text-align:left;
	font-size:10pt;
	font-family:Arial;
}

.Footer
{
	border-top-color: Black;
	border-top-style:solid;
	border-top-width:thin;
	font-weight:bold;	
	font-size:10pt;
	font-family:Arial;
}

.GSF
{
	border-bottom-color:Red !important;
	border-bottom-style:solid !important;
	border-bottom-width:medium !important;
	border-left-color:Red !important;
	border-left-style:solid !important;
	border-left-width:medium !important;
	text-align:right !important;
	font-family:Arial;
	font-size:9pt;
}

.GSFLeft
{
	border-left-color:Red !important;
	border-left-style:solid !important;
	border-left-width:medium !important;
	text-align:right !important;
	font-family:Arial;
	font-size:9pt;
}

.GSFBottom
{
	border-bottom-color:Red !important;
	border-bottom-style:solid !important;
	border-bottom-width:medium !important;
	text-align:right !important;
	font-family:Arial;
	font-size:9pt;
}

.GSFHeader
{
	background-color:Silver;
	font-weight:bold;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	text-align:left !important;
	font-size:9px;
	vertical-align:top !important;
	font-family:Arial;
}

.GSFNumericColumnHeader
{
	text-align:right !important;
	background-color:Silver;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	font-weight:bold;
	font-size:9pt;
	vertical-align:top !important;
	font-family:Arial;
}

.GSFGrade
{	
	border-bottom-color:Black !important;
	border-bottom-style:solid !important;
	border-bottom-width:2px !important;
	font-family:Arial;
	font-size:9pt;
}

.GSFLeftGrade
{		
	border-left-color:Red !important;
	border-left-style:solid !important;
	border-left-width:medium !important;
	text-align:right !important;
	border-bottom-color:Black !important;
	border-bottom-style:solid !important;
	border-bottom-width:2px !important;
	font-family:Arial;
	font-size:9pt;
}

.StudentProfileData
{
	page-break-after:always;
}

.PageBreakBefore
{
	page-break-before:always;
}

.StudentProfilePhoto
{
	font-weight:bold;
	text-align:center;
}

.StudentProfileHeading
{
	font-weight:bold;
	text-align:left;
	font-family:Arial;
}

.StudentProfileHeadingValue
{
	text-align:left;
	padding-left:20px;
	font-family:Arial;
}

.StudentProfileTableHeadingValue
{
	text-align:left;
	font-family:Arial;
}

.StudentProfileTableHeadingRow
{
	font-weight:bold;
	text-align:center;
	background-color:Silver;
	border-bottom-style:solid;
	border-bottom-width:thin;
	font-family:Arial;
}

.StudentProfileTableDataRow
{
	text-align:center;
	font-family:Arial;
}

.StudentProfileYearRow
{
	text-align:center;
	font-size:11pt;
	background-color:#DCDCDC;
	font-family:Arial;
}

.StudentProfileTestName
{
	text-align:left;
	font-weight:bold;
	font-family:Arial;
}

.StudentProfileTestAttribute
{
	padding-left:20px;
	font-weight:bold;
	font-family:Arial;
}

.StudentProfileMasteryFooter
{
	text-align:center;
	font-size:8pt;
	font-family:Arial;
}

.SubscalesHeader
{
	background-color:Silver;
	vertical-align:middle !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	text-align:center !important;
	font-weight:bold;
	font-family:Arial;
	font-size:10pt;
}

.SubscalesItem
{
	text-align:center !important;
	font-family:Arial;
	font-size:10pt;
}

.SubscalesTextItem
{
	text-align: left !important;
	font-family:Arial;
	font-size:10pt;
}

.SubscalesGroupFooter
{
	font-weight:bold;
	border-top-color: Black;
	border-top-style:solid;
	border-top-width:thin;
	text-align:center;
	background-color:#FAF0E6;
	font-size:10pt;
	font-family:Arial;
}

.ItemAnalysisSubscale
{
	font-family:Arial;
	font-size:10pt;
	font-weight:bold;
	text-align:left;
}

.ItemAnalysisNarrativeTitle
{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
}

.ItemAnalysisNarrativeText
{
	font-family:Arial;
	font-size:10pt;
	text-align:left;
	display:block;
}

.ItemAnalysisQuestionNumber
{
	width: 5%;
	font-weight:bold;
	font-size:10pt;
	font-family:Arial;
	text-align:left;
	vertical-align:top;
}

.ItemAnalysisQuestionText
{
	width: 95%;
	font-size:10pt;
	font-family:Arial;
	text-align:left;
}

.ItemAnalysisAnswerValue
{
	width: 5%;
	font-family:Arial;
	font-size:10pt;
	text-align:left;
}

.ItemAnalysisAnswerPlaceholder
{
	width:5%;
}

.ItemAnalysisAnswerText
{
	width: 30%;
	font-family:Arial;
	font-size:10pt;
	text-align:left;
}

.ItemAnalysisEnteredValue
{
	width: 10%;
	font-family:Arial;
	font-size:10pt;
	text-align:left;
}

.ItemAnalysisSummaryTitle
{
	width: 10%;
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
	background-color:#D3D3D3;
}

.ItemAnalysisSummaryValueCorrect
{
	width: 10%;
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
	text-align:right;
	background-color:#FAF0E6;
}

.ItemAnalysisSummaryValue
{
	width: 10%;
	font-size:10pt;
	font-family:Arial;
	text-align:right;
}

.ItemAnalysisQuestionAnswerTable
{
	border:0;
	page-break-inside:avoid;
	width:100%;
}

/*OFFICE2007 Custom Styles: Used by reports*/ 
div.RadGrid_Office2007
{
    width: 99% !important;
}
div.RadGrid_Office2007 .rgMasterTable
{
    width: 100% !important;
}

