@using MemberCenter20NS.Models
@using MvcHelloTeam.Models
@model MemberCenter20NS.Models.BaseInputModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewModel = (ClientModel)ViewBag.ClientModel;
}

<h2>Index</h2>
