@using MemberCenter20NS.Models
@using MvcHelloTeam.Models
@model MemberCenter20NS.Models.BaseInputModel
@{
    ViewBag.Title = "Navbar";
    var viewModel = (BaseInputModel)ViewData["BaseInputModel"];
}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="#">
              MemberCenter
          </a>
          <ul class="nav">
              <li>
                  <a href="/MvcHome/Cycles" onclick="showProcessing();">
                      Cycles
                  </a>
              </li>
              <li>
                  <a href="/TWA/" onclick="showProcessing();">
                      TWA-Hibernate
                  </a>
              </li>
              <li>
                  <a href="#">
                      Link 3
                  </a>
              </li>
          </ul>
          <div class="userName">
           
              @if (viewModel.ClientModel.IsLoggedIn)
              {
                  <a id="currentUserName">Welcome Back!  @viewModel.BusinessLogicObject.UserFirstName  @viewModel.BusinessLogicObject.UserLastName</a>
                  <input id="postLogOut" type="button" value="Logout"/> 
              } 
          </div>
      </div>
  </div>
</div>
<div class="container">
    
</div>
   <script type="text/javascript">
       $(function () {
           $('#postLogOut').click(function (e) {
               e.preventDefault();
               $.ajax(
                {
                    url: '/Login/UserLogOut',
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        var message = data["Message"];
                        var success = Boolean(data["Success"]);
                        if (!success) {
                            alert(message);
                        }
                        if (success) {
                            window.location.href = "/Login";
                        }
                    }
                });
           });
       });
    
</script>
